.profile-picture{
    width: 16rem;
    height: 16rem;
    margin:0 $b-margin;
}

.project-image {
    max-width: 75rem;
    max-height: 70rem;
    width: auto;
    height: auto;
}

.project-video {
    max-width: 60rem;
    width: 100%;
    height: auto;
}