.profile-picture{
    width: 16rem;
    height: 16rem;
    margin:0 $b-margin;
}

.project-image {
    max-width: 75rem;
    max-height: 70rem;
    width: auto;
    height: auto;
}

.cocktail-page-image {
    border: 2px solid #000;
    border-radius: 50%;
    max-width: 50rem;
    max-height: 50rem;
}

.masonry-page-image {
    max-width: 50rem;
    max-height: 39rem;

}