.about-section {
    color: #000;
    padding: 3rem 0;
    margin: 7.5rem auto;
}

.blue-square {
    width: 65rem;
    height: 40rem;
    background-color: $light-blue;
    float: left;
}

.about {
    &__text{
        font-size: $about-typography;
        margin-left: $vb-margin;
        p{
            margin: 0;
        }
        .big-typography{
            margin-top: $m-margin;
            max-width: 45rem;
        }
    }
}

.lines {
    margin: $b-margin 0;
}

.arrow {
    color: #fff;
    stroke: #fff;
    clear: both;
}

