.contact {
    background-color: $black-opacity;
    border-radius: 4px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.28), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    padding: 8px;
    top: 42.5rem;
    left: 8%;
    z-index: 1;
    &__icon {
        color: #fff;
        font-size: 2rem;
        margin: 8px 0;
        &:hover {
            color: $light-pink;
        }
    }
}
