.landing-section {
    color: #fff;
    min-height: 90vh;
}

.landing {
    margin: 0 auto;
    &__text {
        padding-top: 7%;
        font-size: $landing-typography;
        letter-spacing: 1.5px;
        margin: 0 auto;
        max-width: 50%;
    }
    p {
        margin: 0;
    }
}
