.project-section {
  color: #000;

  &__right-article {
    display: flex;
    align-items: center;
    margin-bottom: 30rem;
    margin-left: 20%;
  }
  &__right-image {
    position: relative;
    bottom: 18rem;
    left: 0;
  }

  &__left-article {
    display: flex;
    align-items: center;
    margin-bottom: 30rem;

    .project-description-left {
      margin-left: 90rem;
    }
  }
  &__left-image {
    position: relative;
    top: 0;
    .left-image {
      position: relative;
      left: 40rem;
      bottom: 6rem;
    }
  }

// ipadPro landscape components positioning
  @media (max-width: $media-big-landscape) {
    &__right-article {
      margin-left: 8%;
      }

    &__left-image {
      .left-image {
        left: 20rem;
      }
    }
    &__left-article {
      .project-description-left {
        margin-left: 70rem;
      }
    }
    
    .peach-square {
      width: 60rem;
    }
  }

  //ipad Pro(1024px) sizing and positioing
  @media (max-width: $media-big) {
    .project-section {
      &__article {
        flex-direction: column;
      }
      &__right-image {
        position: relative;
        bottom: 16rem;
        left: 0;
      }
      &__left-image {
        position: relative;
        top: -2rem;
        .left-image {
          position: relative;
          left: 11rem;
          top: -5rem;
        }
      }
      &__left-article {
        .project-description-left {
          margin-left: 56rem;
        }
      }
    }
        
    .peach-square {
      width: 45rem;
    }
  }

  //ipad(768px) sizing and positioing
  @media (max-width: $media-middle) {
    .project-section {
      &__right-article {
        flex-direction: column-reverse;
        margin-top: 45rem;
        margin-left: 0;
      }

      &__right-image {
        position: relative;
        top: -40rem;
        left: -25rem;
      }

      &__left-article {
        flex-direction: column;
        margin-top: 55rem;
        .project-description-left {
          margin-left: 10rem;
        }
      }
      &__left-image {
        top: -15rem;
        left: -35rem;
        .left-image {
          left: 16rem;
          top: -10rem;
        }
      }
    }

    .green-circle {
      width: 45rem;
      height: 45rem;
    }
    .peach-square {
      width: 55rem;
      height: 35rem;
    }
    
  }
}

.project {
  margin: $b-margin;
  max-width: $description-box-size;

  &__title {
    font-size: $big-title;
    margin-bottom: $m-margin;
  }
}

.green-circle {
    background-color: $light-green;
    border-radius: 50%;
    width: 60rem;
    height: 60rem;
    position: absolute;
    top: 0;
    left: 10rem;
}

.peach-square {
  width: 80rem;
  height: 46rem;
  background-color: $light-peach;
}

@media (max-width: $media-big) {
  
  .green-circle {
    max-width: 50rem;
    max-height: 50rem;
  }
  .peach-square {
    width: 70rem;
    height: 46rem;
  }
}
