$dark-landing-background: #373636;
$black-opacity: rgba(0, 0, 0, 0.75);
$shadow: #2d2c2c;

$light-blue: #aac2d4;
$dark-blue: #1a517b;

$light-green: #89998d;
$dark-green: #395e47;

$dark-pink: #814848;
$light-peach: #edc6c6;

$pink-square:  #e28787;
$light-pink: #ffb8b7;
$dark-pink: #ae585a;