$landing-typography: 4.8rem;
$about-typography: 2rem;
$emphasize: 4.5rem;
$normal-font-size: 1.6rem;

.bold-typography {
    font-size: $landing-typography;
    font-weight: bold;
    margin: 0;
}

.big-typography {
    font-size: $about-typography;
}